<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTTouchIdDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4564F9BC1C4CC69000515583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4564F9D51C4CC69000515583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4564F9E01C4CC69000515583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
